<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.8.0.min.js" type='text/javascript'></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
  </head>
  <body>
    <% include menu %>

    <h1><%= title %></h1>
    <p>Fill in the form below to sign up!</p>

    <% include messages %>

    <form action='/register' method='post' id="RegisterForm">
      <p>
        <input type='text' name='user[name]' placeholder='Username' />
      </p>
      <p>
        <input type='password' name='user[pass]' placeholder='Password' />
      </p>
      <p>
        <input type='submit' value='Sign Up' />
      </p>
    </form>
  </body>
  <script>
      $('#RegisterForm').validate({
          rules: {
            "user[name]": {
                required: true
              },
              "user[pass]": {
                  required: true
              } 
          }
      });
  </script>
  </html>
